@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
}

input {
  width: 100px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

textarea {
  /* width: 100%; */
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px; /* 부드러운 모서리 테두리 추가 */
}

.commentform {
  /* width: 100%; */
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    navy,
    purple
  );
  -webkit-background-clip: text;
  color: transparent;

  font-weight: bold;
  font-size: 16px;
}

button {
  display: block;
  background-color: #007bff; /* 기본 배경색 (예: 파란색) */
  color: white; /* 글자색 */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* 클릭 가능한 커서 표시 */
  transition: background-color 0.3s; /* 호버 효과 부드럽게 처리 */
}

button:hover {
  background-color: #0056b3; /* 호버 시의 배경색 */
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50px;
  margin: 25px auto;
}

.comment-row {
  border-bottom: 1px solid #eaeaea; /* 댓글 간 구분선 */
  padding: 10px 0;
}

.textview {
  font-size: 25px;
}

.img-responsive {
  max-width: 100%; /* 이미지의 최대 너비를 컨테이너의 너비로 제한 */
  height: auto; /* 높이는 자동으로 조절되어 원래 이미지의 종횡비를 유지 */
  display: block; /* 이미지를 블록 요소로 처리 (필요에 따라 사용) */
}
